<div class="box container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h4>Temperature: <b>{{unit.temp | temperature:true}}</b> Humidity: <b>{{unit.humidity | humidity}}</b></h4>
            <h4>Target: <b>{{unit.target | temperature:true}}</b> Status: <b>{{unit.away | nestAway}}</b> Mode: <b>{{unit.mode
                |
                capitalize}}</b></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group input-group-lg">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="requestupdate()">
                <span class="glyphicon glyphicon-refresh" aria-label="refresh"
                      ng-class="{'gly-spin': unit.refresh}"></span>
            </button>
            <button type="button" class="btn btn-primary" ng-click="newTarget = newTarget + .5">
                <span class="glyphicon glyphicon-menu-up" aria-label="up"></span>
            </button>
        </span>
                <input type="text" class="form-control" ng-model="newTarget" value="{{newTarget ? newTarget : newTarget = unit.target}}">
                <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="newTarget = newTarget - .5">
                <span class="glyphicon glyphicon-menu-down" aria-label="down"></span>
            </button>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-menu-down" aria-label="down"></span>
            </button>
        </span>
            </div>
        </div>
    </div>
</div>